.nav {
    grid-area: n;
    background-color: #85919e;
    border-radius: 10px;
    padding: 1em;
}

.item {
    padding: 0;
    margin-bottom: 0.3em;
}

.item a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.item:last-child {
    margin-top: 1em;
}

.item a.ActiveLink {
    font-weight: bold;
    color: #d2356e;
}
