.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}

.massages {
    padding: 10px;
}

.massage {

}

.dialogsItems .active {
    font-weight: bold;
    color: #d2356e;
}